:root {
  --primary-color: #1E3A8A;
  --secondary-color: #06B6D4;
  --background-color: #fff;
  --text-color: #333;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  padding: 20px 40px;
  box-sizing: border-box;
}
.hero-image {
  width: 300px;
  height: 300px;
}
.hero-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #0a0a0a;
  margin-right: 50px;
  box-sizing: border-box;
}
.hero-content {
  width: 60%;
  margin-left: 50px;
  box-sizing: border-box;
  padding: 0 40px;
  box-sizing: border-box;
}
.hero-content h1 {
  color: var(--primary-color);
  font-size: 24px;
}
.hero-content a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  padding: 5px 10px;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}
.hero-content a:hover {
  background-color: var(--background-color);
  color: var(--primary-color);
}

.service-section {
  padding: 10px 20px;
}
.service-section h1 {
  color: var(--primary-color);
  font-size: 24px;
  text-align: center;
}
.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  text-align: center;
}

.why-choose-us,
.how-it-work,
.contact {
  padding: 0px 20px;
}
.why-choose-us h1,
.how-it-work h1,
.contact h1 {
  text-align: center;
  color: var(--primary-color);
  font-size: 24px;
}
.why-choose-us ul li,
.how-it-work ul li {
  font-size: 18px;
  margin-bottom: 5px;
}
.why-choose-us ul li strong,
.how-it-work ul li strong {
  color: var(--primary-color);
}

.contact h1,
.contact p {
  text-align: center;
}
.contact ul li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}
.contact ul li a {
  text-decoration: none;
  color: var(--secondary-color);
}
.contact ul li a:hover {
  text-decoration: underline;
}
.contact ul li button {
  background-color: transparent;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  color: var(--primary-color);
  padding: 5px 10px;
  font-size: 18px;
  box-sizing: border-box;
  cursor: pointer;
}
.contact ul li button:hover {
  background-color: var(--primary-color);
  color: #fff;
}
.contact ul li button a:hover {
  background-color: var(--primary-color);
  color: #fff;
  text-decoration: none;
}

@media (max-width: 600px) {
  .hero-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .hero-content {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .hero-content h1 {
    font-size: 20px;
    text-align: center;
  }
  .hero-content p {
    margin-bottom: 10px;
  }

  .service-section h1 {
    margin-bottom: 15px;
  }
}