.footer {
  max-height: 100px;
  height: 100%;
  background-color: #0F172A;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: 0;
}
.contact-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  border-right: 1px solid var(--primary-color);
  margin-bottom: 0;
}
.footer p {
  margin-top: 0;
  color: #94A3B8;
  font-size: 14px;
}
.contact-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.contact-item span {
  font-size: 0.9rem;
}