:root {
  --primary-color: #1E3A8A;
  --secondary-color: #06B6D4;
  --background-color: #fff;
  --text-color: #333;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--primary-color);
}

.header-left {
  display: flex;
  align-items: center;
}
.header-left img {
  height: 100px;
  width: 100px;
  margin-right: 0px;
  box-sizing: border-box;
}
.header-left h1 {
  font-size: 24px;
  color: var(--primary-color);
  margin-left: 0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
  transition: all 0.4s ease;
}

nav a:hover {
  color: var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
}

