:root {
  --primary-color: #1E3A8A;
  --secondary-color: #06B6D4;
  --background-color: #fff;
  --text-color: #333;
}

.services {
  padding: 0 60px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}
.services h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: var(--primary-color);
}
.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.service-card {
  position: relative;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}
.service-card::before {
  content: "";
  position: absolute;
  inset: -2px; /* slightly bigger than card */
  border-radius: 14px;

  background: linear-gradient(
    90deg,
    #1E3A8A,
    #06B6D4,
    #1E3A8A
  );

  background-size: 300% 300%;

  opacity: 0;
  transition: opacity 0.3s ease;

  z-index: -1;
}
@keyframes borderMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.service-card:hover::before {
  opacity: 1;
  animation: borderMove 4s linear infinite;
}
.service-card:hover {
  transform: translateY(-8px);
  color: white;
}
.service-card:hover h3,
.service-card:hover p {
  color: white;
}
.service-card:hover .service-icon {
  color: white;
}
.service-icon {
  width: 40px;
  height: 40px;
  color: var(--primary-color);
  margin-bottom: 15px;
}
.service-card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: var(--primary-color);
}
.service-card p {
  color: var(--primary-color);
}

.more-detail {
  margin-top: 20px;
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.more-detail h3 {
  font-size: 1.2rem;
}
.more-detail p {
  font-size: 1.1rem;
}