:root {
  --primary-color: #1E3A8A;
  --secondary-color: #06B6D4;
  --background-color: #fff;
  --text-color: #333;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  padding: 20px 40px;
  box-sizing: border-box;
}
.hero-image {
  width: 300px;
  height: 300px;
}
.hero-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #0a0a0a;
  margin-right: 50px;
  box-sizing: border-box;
}
.hero-content {
  width: 60%;
  margin-left: 50px;
  box-sizing: border-box;
  padding: 0 40px;
  box-sizing: border-box;
}
.hero-content h1 {
  color: var(--primary-color);
  font-size: 24px;
}

.service-section {
  padding: 10px 20px;
}
.service-section h1 {
  color: var(--primary-color);
  font-size: 24px;
  text-align: center;
}
.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  text-align: center;
}

.why-choose-us,
.how-it-work,
.contact {
  padding: 0px 20px;
}
.why-choose-us h1,
.how-it-work h1,
.contact h1 {
  text-align: center;
  color: var(--primary-color);
  font-size: 24px;
}
.why-choose-us ul li,
.how-it-work ul li {
  font-size: 18px;
  margin-bottom: 5px;
}
.why-choose-us ul li strong,
.how-it-work ul li strong {
  color: var(--primary-color);
}

.contact h1 {
  text-align: center;
}
.contact ul li {
  font-size: 18px;
  list-style-type: style typw;
}
.contact ul li strong {
  color: var(--primary-color);
}
