:root {
  --primary-color: #1E3A8A;
  --secondary-color: #06B6D4;
  --background-color: #fff;
  --text-color: #333;
}

.about-hero {
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-hero .text {
  width: 60%;
  padding: 10px;
  margin-right: 20px;
  box-sizing: border-box;
}
.about-hero .text h1 {
  color: var(--primary-color);
}
.about-hero .text p {
  font-size: 20px;
}

.about-hero .image {
  width: 350px;
  height: 350px;
}
.about-hero .image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  object-fit: cover;
}

.who-we-are {
  padding: 40px 20px;
  background-color: var(--background-color);
  text-align: center;
}
.who-we-are h1 {
  color: var(--primary-color);
  font-size: 26px;
}
.who-we-are p {
  font-size: 20px;
}

.vision-section {
  padding: 0 20px;
  text-align: center;
}
.vision-section h1 {
  color: var(--primary-color);
  font-size: 26px;
}
.vision-section p {
  font-size: 20px;
}

.what-we-do {
  padding: 0px 20px;
}
.what-we-do h1 {
  color: var(--primary-color);
  font-size: 26px;
  text-align: center;
}
.what-we-do-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  text-align: center;
}

.process-section {
  padding: 40px 20px;
  background-color: var(--background-color);
}
.process-section h2 {
  color: var(--primary-color);
  font-size: 26px;
  text-align: center;
}
.process-section .section-description {
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}
.process-section ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.process-section ul li {
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
}
.process-section ul li strong {
  color: var(--primary-color);
}

.call-to-action {
  padding: 0 20px;
  text-align: center;
}
.call-to-action h2 {
  color: var(--primary-color);
  font-size: 26px;
}
.call-to-action p {
  font-size: 18px;
  margin-bottom: 20px;
}
.call-to-action button {
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  display: flex;
  align-items: center; 
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.call-to-action button:hover {
  background-color: var(--primary-color);
  color: #fff;
}